language: node_js
node_js:
  - "4.1"
before_install:
  - export CHROME_BIN=chromium-browser
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
before_script:
  - npm install gulp
  - npm install karma
  - npm install karma-jasmine
  - npm install karma-chrome-launcher
  - npm install karma-coverage
  - npm install coveralls
script: node_modules/karma/bin/karma start karma.coverage.js --single-run
after_script: "cat ./coverage/lcov-report/lcov.info | ./node_modules/coveralls/bin/coveralls.js"